# Laravel
/bootstrap/compiled.php
/vendor

# Composer
composer.phar
composer.lock

# Assets
/node_modules
/public/vendor
/public/assets

# OS
.DS_Store

# Configuration
/app/config/local
/app/config/staging
/app/config/production
